.toolbar {
  width: 100%;
  height: 10%;
  // padding: 1%;
  background: #fff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.logo {
  margin-left: 3%;
  opacity: 1;
  width: 8%;
  cursor: pointer;
}

.sideMenuBtn {
  margin-left: 30%;
  width: 40%;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  background: transparent;
//   width: 16%;
  color: #3C3C3C;
  font-family: Poppins;
  font-weight: 600;
}

.active-link {
  color: #9540a9;
}

@media screen and (max-width: 767px) {

  // .toolbar{
  //   display: contents!important;
  // }

  .mat-button,
  .mat-stroked-button,
  .mat-flat-button {
    width: 100%!important;
    text-align: left!important;

  }

  .sideMenuBtn {
    display: flex!important;
    flex-direction: column!important;
    height: inherit;
    align-items: start!important;
    width: 100%!important;
    margin: 0!important;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .logoMob {
    width: 28%!important;
  }

  .mat-sidenav {
    width: 100%!important;
    height: fit-content!important;
    margin-top: 20%!important;
    // margin-top: 8% !important;
    z-index: 99;
    background: #fff !important;
  }

}
