<div class="content">
  <div class="head">
    <p class="tool"><span>Data Security</span> And Privacy</p>
    <p class="sub-tool">We work side-by-side with our partners at every stage of growth to venture into We work
      side-by-side with our partners at every stage of growth to venture into</p>
  </div>
  <mat-grid-list cols="12" class.features="!small" rowHeight="{{rowHeight}}">
    <mat-grid-tile [colspan]="featureCol7" class="mob-process">
      <ul>
        <p class="features-head">Protection You Can Trust</p>
        <p class="sub-features-head">At Equus Software, we recognize that you own your data and are entrusting
          it with us. Therefore, we are committed to protecting your data.</p>
        <p class="sub-features-head">We comply with current industry
          standards and regulations so you can feel confident that your data remains secure.
        </p>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCol4"><img class="image" src="../../assets/imgs/Group 2017.png">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!small">
    </mat-grid-tile>
  </mat-grid-list>
  <div class="container-div">
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener">
        <span class="bg-image"><img src="../../assets/imgs/Group 2027.png" /></span>
        <p class="card-text">Reliability</p>
        <p class="card-sub-text">Our software is supported by Microsoft Azure, enabling secure and reliable hosting.</p>
      </a>
      <a class="card" target="_blank" rel="noopener">
        <span class="bg-image"><img src="../../assets/imgs/Group 2026.png" /></span>
        <p class="card-text">Security</p>
        <p class="card-sub-text">We maintain strict policies and encryption processes to protect all of our client data
          and confidential information .</p>
      </a>
      <a class="card" target="_blank" rel="noopener">
        <span class="bg-image"><img src="../../assets/imgs/Group 2025.png" /></span>
        <p class="card-text">Compliance</p>
        <p class="card-sub-text">We undergo independent third-party audits and are ISO27001 accredited.</p>
      </a>

    </div>
    <p class="security"><span>Our Commitment</span> To Your Security</p>
    <p class="security-text">We are committed to complying with all regulations and standards as they apply to our
      business and our
      role as the leader in Global Mobility Management technology, including ISO 27001, GDPR, and SOC. All
      of our applications are engineered to ensure the privacy of user data and sensitive information, with
      constant oversight and maintenance.</p>
  </div>
  <div class="up-footer">
    <p class="up-footer-text">More than 2000 organizations around the world rely on <b>Mobility SQR to manage their
        global workforce.</b></p>
  </div>
</div>
