<div class="content" role="main">
  <div class="head-div">
    <img src="../../assets/imgs/Group 925.png" style="width: 100%;" class="small">
    <p class="privacy-heading">MobilitySQR <b>Privacy Policy</b></p>
    <p class="date">Effective date: December 10 2021</p>
    <p class="heading">Introduction</p>
    <p class="sub-text no-margin">This app is aimed at people over 4+.</p>
    <p class="sub-text">This app collects information from you so that we can:</p>
    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span>Give you the service you wanted</span>
    </div>

    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span>Improve the app over time</span>
    </div>
    <div class="stepSection">
        <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
        <span>Help keep you safe in times of crisis</span>
      </div>
    <p class="sub-text">When registering on our app, you may be asked to enter your name, email address, phone number or
      other
      details to give you better experience. We collect information from you when you register on our app.</p>
    <p class="sub-text">By accessing the MobilitySQR through a mobile device, mobile application in app store and play
      store
      (collectively, the “Service”) you agree to be bound by these Terms of Use (this “Agreement”). If you wish to
      use MobilitySQR please read these Terms of Use. You should also read the MobilitySQR Privacy
      Policy, which is incorporated by reference into this Agreement and available in the Service.
      If you do not accept and agree to be bound by all of the terms of this Agreement, including the
      MobilitySQR Privacy Policy, do not use the Service. Please contact us with any questions
      regarding this Agreement.</p>
    <p class="heading">1. Acceptance of Terms of Use.</p>
    <div class="stepSection">
      <span><img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> This Agreement is an electronic contract that establishes the legally binding terms you must accept to use the Service. 
          This Agreement includes the MobilitySQR’s (i) Privacy Policy, (ii) our Safety Tips and (iii) terms disclosed and agreed to by 
          you if you use our application.</span>
    </div>

    <div class="stepSection">
      <span><img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> By accessing or using the App, you accept this Agreement and agree to the terms, conditions and notices contained or refered
           herein and consent to have this Agreement and all notices provided to you in electronic form. To withdraw this consent, you must 
           cease using our application and terminate your account. Please print a copy of this Agreement for your records. To receive a 
           non-electronic copy of this Agreement, please contact us at contact@mobilitysqr.comThis Agreement may be modified by the MobilitySQR 
           developers from time to time, such modifications to be effective upon posting by the MobilitySQR in appstore.</span>
    </div>
</div>
    <p class="heading">2. Eligibility.</p>
    <p class="sub-text">No part of MobilitySQR is directed to persons under the age of 4+. You must be at least 4+
      years of age to access and use our App. Any use of the Service is void where prohibited.
      By accessing and using the App, you represent and warrant that you have the right,
      authority and capacity to enter into this Agreement and to abide by all of the terms
      and conditions of this Agreement. If you create an account, you represent and warrant
      that you have never been convicted of a felony and that you are not a sex offender with
      government entity. Using the Service may be prohibited or restricted in certain countries.
      You are responsible for complying with the laws and regulations of the territory from
      which you access or use the Service.</p>
    <p class="heading">3. Creating an Account.</p>
    <p class="sub-text">In order to use App, you must verify your phone number through an SMS message. Your phone number
      is not
      shared with anyone and used only to give you a unique identifier. For more information regarding the
      information we collect from you and how we use it, please refer clause 10.</p>
    <p class="heading">4.Termination Clause</p>
    <p class="sub-text">This Agreement will remain in full force and effect while you use the Service and/or have a
      MobilitySQR account. You may disable your account at any time, for any reason, by contacting our
      agent at contact@mobilitysqr.com. Developer may terminate or suspend your account at any time
      without notice if the developer believes that you have breached this Agreement, or for any other
      reason, with or without cause, in its sole discretion. The MobilitySQR is not required to disclose,
      may be prohibited by law from disclosing, the reason for the termination or suspension of your account.
      After your account is terminated for any reason, all terms of this Agreement survive such termination,
      and continue in full force and effect, except for any terms that by their nature expire or are fully
      satisfied.</p>
    <p class="heading">5. Account Security.</p>
    <p class="sub-text">You are responsible for maintaining the confidentiality of the username and password you
      designate
      during the registration process, and you are solely responsible for all activities that occur under
      your account. You agree to immediately notify MobilitySQR of any disclosure or unauthorized use of your
      account or any other breach of security at contact@mobilitysqr.com.</p>
    <p class="heading">6. Your Interactions with Other Users.</p>
    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> you are solely responsible for your interactions with other users. you understand that the mobilitysqr currently does not 
          conduct criminal background checks or screenings on its users. the mobilitysqr also does not inquire into the backgrounds of 
          all of its users or attempt to verify the statements of its users. the mobilitysqr makes no representations or warranties as to
           the conduct of users or their compatibility with any current or future users. the mobilitysqr reserves the right to conduct any
            criminal background check or other screenings (such as sex offender register searches), at any time and using available public
             records.</span>
    </div>

    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> The MobilitySQR is not responsible for the conduct of any user. As noted in and without limiting Sections 15 and 17 below, 
          in no event shall the MobilitySQR, its affiliates or its partners be liable (directly or indirectly) for any losses or damages
           whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or 
           relating to the conduct of you or anyone else in connection with the use of the Service including, without limitation, death, 
           bodily injury, emotional distress, and/or any other damages resulting from communications or meetings with other users or 
           persons you meet through the App. You agree to take all necessary precautions in all interactions with other users, particularly 
           if you decide to communicate off the Service or meet in person, or if you decide to send money to another user. In addition, you agree 
           to review and follow the MobilitySQR Consulting’s safety tips, located in the App, prior to using the Service. You should not post
            your financial information (for example, your credit card or bank account information) in the app.</span>
    </div>
    <p class="heading">7. Proprietary Rights.</p>
    <p class="sub-text">The MobilitySQR Consulting owns and retains all proprietary rights in the App, and in all
      content,
      trademarks, trade names, service marks and other intellectual property rights related thereto. The
      Service contains the copyrighted material, trademarks, and other proprietary information of the
      MobilitySQR and its licensors. You agree to not copy, modify, transmit, create any derivative
      works from, make use of, or reproduce in any way any copyrighted material, trademarks, trade
      names, service marks, or other intellectual property or proprietary information accessible
      through the App, without first obtaining the prior written consent of the MobilitySQR or, if
      such property is not owned by the MobilitySQR, the owner of such intellectual property or proprietary
      rights. You agree to not remove, obscure or otherwise alter any proprietary notices appearing on any content,
      including copyright, trademark and other intellectual property notices.</p>
    <p class="heading">8. Content Posted by You in the App.</p>
    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> The MobilitySQR Consulting owns and retains all proprietary rights in the App, and in all content, trademarks, trade names, 
          service marks and other intellectual property rights related thereto. The Service contains the copyrighted material, trademarks,
           and other proprietary information of the MobilitySQR and its licensors. You agree to not copy, modify, transmit, create any 
           derivative works from, make use of, or reproduce in any way any copyrighted material, trademarks, trade names, service marks, or 
           other intellectual property or proprietary information accessible through the App, without first obtaining the prior written
            consent of the MobilitySQR or, if such property is not owned by the MobilitySQR, the owner of such intellectual property or
             proprietary rights. You agree to not remove, obscure or otherwise alter any proprietary notices appearing on any content, 
              including copyright, trademark and other intellectual property notices.</span>
    </div>

    <div class="stepSection">
      <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
      <span> You understand and agree that the MobilitySQR may, but is not obligated to, monitor or review any Content you post as part 
          of a MobilitySQR App. The MobilitySQR may delete any Content, in whole or in part, that in the sole judgment of the MobilitySQR 
          violates this Agreement or may harm the reputation of the Service or the MobilitySQR.</span>
    </div>
  
</div>
