<div class="content">
    <p class="head"><b>Give your Passion</b> a Platform Today!</p>
    <p class="heading">Blog list</p>
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener">
              <mat-grid-list cols="12" rowHeight=".5:1">
                  <mat-grid-tile colspan="3">
                    <img class="bg-image" src="../../assets/imgs/pexels-rodnae-productions-6065089.png" />
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7">
                      <ul>
                    <p class="card-text">Mobility Insights_Sale of PwC’s Global Mobility Practice</p>
                    <p class="card-sub-text">We work side-by-side with our partners at every stage of growth to venture.We work side-by-side with our partners at every stage of growth to venture.</p>
                   </ul>    
                </mat-grid-tile>
                <mat-grid-tile colspan="2">
                    <img class="delete" src="../../assets/imgs/Group 883.png">
                    <img class="edit" src="../../assets/imgs/Group 884.png">
                </mat-grid-tile>
              </mat-grid-list>
            
           
          </a>
          </div>
</div>