<div class="content" role="main">
  <div class="head">
    <p class="tool">Mobility <span>Practices</span></p>
    <p class="sub-tool">We work side-by-side with our partners at every stage of growth to venture into We work
      side-by-side with our partners at every stage of growth to venture into</p>

  </div>
  <mat-grid-list cols="12" [class.features]="!small" rowHeight="25em" *ngIf="small">

    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 747.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCols" class="mob-process">
      <ul>
        <p class="features-head">Mobility Process Outsourcing</p>
        <p class="sub-features-head">Creating an effective and knowledgeable Global Mobility team can be daunting. We
          can provide 2 alternative solutions:</p>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> We can help you with mobility team members who will be pre trained in the policy and process of your
            company so that you do not have to invest additional time.</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Alternatively we can run your entire mobility function on our roles so that you can concentrate on your
            core business.</span>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!small">
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" [class.features]="!small" rowHeight="30em" *ngIf="!small">
    <mat-grid-tile [colspan]="featureCols" class="mob-process">
      <ul>
        <p class="features-head">Mobility Process Outsourcing</p>
        <p class="sub-features-head">Creating an effective and knowledgeable Global Mobility team can be daunting. We
          can provide 2 alternative solutions:</p>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> We can help you with mobility team members who will be pre trained in the policy and process of your
            company so that you do not have to invest additional time.</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Alternatively we can run your entire mobility function on our roles so that you can concentrate on your
            core business.</span>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 747.png">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" *ngIf="!small">
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" class="assignment" rowHeight="30em">
    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 719.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCol7">
      <ul>
        <p class="features-head">Voyager - Assignment Intelligence</p>
        <p class="sub-features">Do you need an end to end mobility compliance tool to take care of Immigration,
          Assignment, Payroll and Tax compliance. Tool is highly customizable while remaining secured and GDPR
          compliant. We offer real time status of each assignee and all booked cost in customizable dashboard</p>
      </ul>
    </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list cols="12" [class.features]="!small" rowHeight="30em" *ngIf="!small">
    <mat-grid-tile [colspan]="featureCols">
      <ul>
        <p class="features-head">Employment Organization</p>
        <p class="sub-features-head">We have the capability to sponsor your visa, local payroll and employment law
          compliances in countries in Europe, Middle East, Asia and Africa.</p>


        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Africa : Ghana, Kenya, Nigeria</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Asia : China, Hong Kong, India, Japan, Malaysia</span>
        </div>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Middle East : Bahrain, Kuwait, Oman, Qatar, UAE, Armenia</span>
        </div>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Europe : Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Finland, France, Germany, Greece,
            Hungary, Ireland, Italy, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Spain,
            Sweden, Switzerland, UK</span>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 723.png">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" *ngIf="!small">
      <!-- <img src="../../assets/imgs/Repeat Grid 20.png"> -->
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" [class.features]="!small" rowHeight="35em" *ngIf="small">
    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 723.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCols">
      <ul>
        <p class="features-head">Employment Organization</p>
        <p class="sub-features-head">We have the capability to sponsor your visa, local payroll and employment law
          compliances in countries in Europe, Middle East, Asia and Africa.</p>


        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Africa : Ghana, Kenya, Nigeria</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Asia : China, Hong Kong, India, Japan, Malaysia</span>
        </div>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Middle East : Bahrain, Kuwait, Oman, Qatar, UAE, Armenia</span>
        </div>
        <div class="stepSection">
          <span> <img src="../../assets/imgs/Rectangle 701.png" /></span>
          <span> Europe : Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Finland, France, Germany, Greece,
            Hungary, Ireland, Italy, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Romania, Slovakia, Spain,
            Sweden, Switzerland, UK</span>
        </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" *ngIf="!small">
      <!-- <img src="../../assets/imgs/Repeat Grid 20.png"> -->
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="12" class="assignment" rowHeight="30em">
    <mat-grid-tile [colspan]="featureCols"><img class="image" src="../../assets/imgs/Group 748.png">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="featureCol7">
      <ul>
        <p class="features-head">Policy And Process Optimization</p>
        <p class="sub-features">Global Mobility world is changing at a fast pace and it is important for organization’s
          policies and process stay relevant. We will help you design the policies and process to offer cost and time
          optimization while ensuring high employees net promoter scores.</p>
      </ul>
    </mat-grid-tile>

  </mat-grid-list>
  <div class="up-footer">
    <h3 class="up-footer-text"><b>Start using</b> Mobility SQR now!!</h3>
    <p class="logo-text">We work side-by-side with our partners at every stage of
      growth to venture. We work side-by-side with our
      partners<br>
      at every stage of growth to venture.</p>
    <button class="button">Contact us</button>
  </div>
</div>
