<div class="content" role="main">
    <div class="head-image">
        <p class="heading">Crafting Engaging Customer Journey <span>That drives their Businesses.</span></p>
        <p class="sub-heading">We work side-by-side with our partners at every stage of growth to venture into We work side-by-side
             with our partners at every stage of growth to venture into</p>

    </div>
    <div [class.side-image]="!small">
      <mat-grid-list class="title" cols="12" rowHeight="{{Height}}">
        <mat-grid-tile colspan="2" *ngIf="!small">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan">
          <ul>
          <p class="ideas"><b>We are the one</b> who place the idea on table</p>
          <p class="sub-ideas" *ngIf="!small">Surround Yourself with People Who Inspire You</p>
        </ul>
        </mat-grid-tile>
        <mat-grid-tile  class="repeat-img" colspan="2" *ngIf="!small"> 
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list cols="12"  rowHeight="{{rowHeight}}">
        <mat-grid-tile colspan="1" *ngIf="!small"></mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan4">
          <img class="member-image" src="../../assets/imgs/amitabh_image.jpg">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan7">
          <ul>
          <p class="member-name"><b>Amitabh Singh</b> (Co-fonder & Consulting Leader)</p>
          <p class="member-details">Amitabh is a CA, CWA and a Law Graduate. He joined Ernst & Young’s member firm in India in 1989. 
            He became a Partner in 1996 and was a Senior Partner in Ernst & Young’s Direct Tax Practice.
              Global Mobility & Employment Tax Practice (now renamed as People Advisory Service), advising clients
               of employees. For many years Amitabh served as an expert panelist in CNBC’s 
                “Tax Guru” where he would demystify complex personal income tax provisions and answer income tax 
                queries of the viewers.</p>
              </ul>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12"  rowHeight="{{rowHeight}}" *ngIf="!small">
        <mat-grid-tile colspan="1" *ngIf="!small"></mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan7">
          <ul>
            <p class="member-name2"><b>Steve Rao</b> (Co-fonder & Industry Leader)</p>
            <p class="member-details2">Global Mobility Thought Leader, with over 2 decades of work on Project
               Management, Training and Coaching, Strategic Planning, Implementing Assignment and Tax cost s,
                Expatriate Taxation including US tax compliance, Mobility Policy design, International 
                Assignment Management, Mobility Process Transformation, Mobility Risk and Compliance, New Country 
                Mobility risk mitigation, Tax and Immigration Vendor management.​Has experience of consulting and 
                Industry like PwC, Deloitte, Accenture, IBM, DXC, Sapient and OYO Rooms.</p>
                </ul>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan4">
          <img class="member-image2" src="../../assets/imgs/Screenshot 2021-12-30 at 10.01.34 PM.png">
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12"  rowHeight="{{rowHeight}}" *ngIf="small">
          <mat-grid-tile colspan="1" *ngIf="!small"></mat-grid-tile>
          <mat-grid-tile [colspan]="noOfColSpan4">
            <img class="member-image2" src="../../assets/imgs/Screenshot 2021-12-30 at 10.01.34 PM.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="noOfColSpan7">
            <ul>
              <p class="member-name2"><b>Steve Rao</b> (Co-fonder & Industry Leader)</p>
              <p class="member-details2">Global Mobility Thought Leader, with over 2 decades of work on Project
                Management, Training and Coaching, Strategic Planning, Implementing Assignment and Tax cost s,
                 Expatriate Taxation including US tax compliance, Mobility Policy design, International 
                 Assignment Management, Mobility Process Transformation, Mobility Risk and Compliance, New Country 
                 Mobility risk mitigation, Tax and Immigration Vendor management.​Has experience of consulting and 
                 Industry like PwC, Deloitte, Accenture, IBM, DXC, Sapient and OYO Rooms.</p>
                  </ul>
          </mat-grid-tile>
          
          </mat-grid-list>
      </div>
        <div [class.side-image2]="!small">
      <mat-grid-list cols="12"  rowHeight="{{rowHeight}}">
        <mat-grid-tile class="repeat" colspan="1" *ngIf="!small"></mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan4">
          <img class="member-image" src="../../assets/imgs/Screenshot 2021-12-30 at 10.01.34 PM.png">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan7">
          <ul>
          <p class="member-name"><b>Maulshree Mohil </b>(Co-fonder)</p>
          <p class="member-details">Maulshree has 20 years of industry experience in setting up and managing 
            sales enablement, excellence, sales operations functions. In her tenure, she has been instrumental 
            in providing strategic leadership to enable organizations to achieve their growth goals. Previous to
             Tech Mahindra, she led Sales Support function at Publicis Sapient. Before commencing her professional
              journey, she studied at CDAC, Pune to complete her post graduation in computer applications.</p>
              </ul>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="12" rowHeight="{{rowHeight}}" *ngIf="!small">
        <mat-grid-tile colspan="1" *ngIf="!small"></mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan7">
          <ul>
            <p class="member-name2"><b>Shuvodip Roy </b>(Relocation leader)</p>
            <p class="member-details2">People person. Experienced & result-oriented Sales and Account Management Professional, 
              Operations Manager with a track record of spearheading teams to champion Mobility Management & Relocation Service
               Delivery across diverse geographies for global conglomerates. Highly skilled in conceptualizing and executing 
               elaborate campaigns to propel business growth, bolster market share & deliver compelling business value to clients.</p>
                </ul>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="noOfColSpan4">
          <img class="member-image2" src="../../assets/imgs/Screenshot 2021-12-30 at 10.01.34 PM.png">
        </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="12" rowHeight="{{rowHeight}}" *ngIf="small">
          <mat-grid-tile colspan="1" *ngIf="!small"></mat-grid-tile>
          <mat-grid-tile [colspan]="noOfColSpan4">
            <img class="member-image2" src="../../assets/imgs/Screenshot 2021-12-30 at 10.01.34 PM.png">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="noOfColSpan7">
            <ul>
              <p class="member-name2"><b>Shuvodip Roy </b>(Relocation leader)</p>
              <p class="member-details2">People person. Experienced & result-oriented Sales and Account Management Professional, 
                Operations Manager with a track record of spearheading teams to champion Mobility Management & Relocation Service
                 Delivery across diverse geographies for global conglomerates. Highly skilled in conceptualizing and executing 
                 elaborate campaigns to propel business growth, bolster market share & deliver compelling business value to clients.</p>
                  </ul>
          </mat-grid-tile>
         
          </mat-grid-list>
      </div>
    
    <div class="services">
      <p class="services-head"><b>Our services</b> to grow your business</p>
        <div class="card-container">
            <a class="card" target="_blank" rel="noopener">
              <span class="bg-image"><img src="../../assets/imgs/Group 643.png" /></span>
              <p class="card-sub-text">Help Global Mobility teams across the world to do their work better, faster and in a legally compliant manner.</p>
            </a>
      
            <a class="card card-blue" target="_blank" rel="noopener">
              <img src="../../assets/imgs/Group 644.png" />
              <p class="card-sub-text">We are devoted to empower companies and individuals to realize their cross-border potential.</p>
            </a>
      
            <a class="card" target="_blank" rel="noopener">
              <img src="../../assets/imgs/Group 645.png" />
              
              <p class="card-sub-text">Offering products to automate and integrate various Global Mobility processes and provide end to end solutions on a common platform.</p>
            </a>
      
          </div>
    </div>
    <div>
      <img class="map" src="../../assets/imgs/Group 2172.png">

    </div>
    <div class="up-footer">
        <h3 class="up-footer-text"><b>Start using</b> Mobility SQR now!!</h3>
        <p class="logo-text">We work side-by-side with our partners at every stage of
          growth to venture. We work side-by-side with our
          partners at every stage of growth to venture.</p>
        <button class="button">Contact us</button>
      </div>
    </div>
