<div class="content" role="main">
  <div class="head">
    <p class="tool">Your Mobility Intelligence Tool-<span>Voyager</span></p>
    <p class="sub-tool">We work side-by-side with our partners at every stage of growth to venture into We work
      side-by-side with our partners at every stage of growth to venture into</p>
  </div>

  <mat-grid-list cols="12" [class.features]="!small" rowHeight="{{rowHeight}}">
    <mat-grid-tile [colspan]="phnCols" class="phn-image" *ngIf="!small"></mat-grid-tile>
    <mat-grid-tile class="about" [colspan]="aboutCols">
      <ul>
        <p class="features-head"><span>Interesting Feature</span> -About Voyager</p>
        <p class="sub-features-head">We work side-by-side with our partners at every stage of growth to venture We work
          side-by-side with our partners at every</p>
          <div class="small">
        <div class="stepSection"> 
          <span> <img src="../../assets/imgs/Group 651.png" /></span>
          <span> Analytics Based On Project Id, Manager, Function, Country, Organization Etc.</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Group 766.png" /></span>
          <span> Real Time Employee Tracking For Tax And Immigration Compliance</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Group 767.png" /></span>
          <span> Voyager Determines The Visa Type Based On Activities</span>
        </div>

        <div class="stepSection">
          <span> <img src="../../assets/imgs/Group 768.png" /></span>
          <span> Activate Duty Of Care In Case Of Emergencies</span>
        </div>
      </div>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile [class.dotIcons]="!small" colspan="2" *ngIf="!small">
    </mat-grid-tile>
  </mat-grid-list>

  <div class="advanced-features" [class.repeat]="!small">
    <p class="advance">Advanced Features</p>
    <p class="sub-advance">We work side-by-side with our partners at every stage of growth to venture into We work sid t
      every stage of growth to venture into We work sid</p>
    <mat-grid-list cols="12" rowHeight="{{featuresHeight}}">
      <mat-grid-tile colspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="10" class="adv-features">
        <div class="card-container">
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 652.png" /></span>
            <p class="card-sub-text">Secure Vault For All Important Documents</p>
          </a>
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 653.png" /></span>
            <p class="card-sub-text">Generate Automatic Assignment Letters</p>
          </a>
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 655.png" /></span>
            <p class="card-sub-text">Generate Accurate Payroll Input Reports</p>
          </a>
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 656.png" /></span>
            <p class="card-sub-text">Raise Travel Request In 2-3 Minutes</p>
          </a>
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 657.png" /></span>
            <p class="card-sub-text">Manage Change In Tax And Immigration Laws Quickly</p>
          </a>
          <a class="card" target="_blank" rel="noopener">
            <span class="bg-image"><img src="../../assets/imgs/Group 658.png" /></span>
            <p class="card-sub-text">Manage Change In Tax And Immigration Laws Quickly</p>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1"></mat-grid-tile>
    </mat-grid-list>
  </div>
  
  <div class="up-footer">
    <h3 class="up-footer-text"><b>Start using</b> Mobility SQR now!!</h3>
    <p class="logo-text">We work side-by-side with our partners at every stage of
      growth to venture. We work side-by-side with our
      partners<br>
      at every stage of growth to venture.</p>
    <button class="button">Contact us</button>
  </div>
</div>
