.tab-div {
  width: 100%;
  opacity: 1;
}

.main-text {
  background: #DDDDDD 0% 0% no-repeat padding-box;
  opacity: 0.78;
  height: 5%;
}

.txt {
  opacity: 1;
  text-align: left;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0px;
  color: #101010;
  margin: 2% 2%;
  height: 100%;
  float: left;
}

.blog-image {
  width: 70%;
}

.head {
  text-align: left;
  font-family: poppins;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 0px;
  color: #0D0E50;
  opacity: 1;
  width: 80%;
}

.sub-text {
  text-align: left;
  font-family: Poppins;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0px;
  color: #3C3C3C;
  opacity: 1;
  width: 90%;
}


.read {
  font-family: poppins;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0px;
  color: #8630AC;
  opacity: 1;
  display: table;
  width: 100%;
  cursor: pointer;
}

.read span {
  display: table-cell;
  vertical-align: middle;
}

.read span:nth-of-type(1) {
  width: 25%;
}

.blog-summary-title {
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  font-family: poppins;
  letter-spacing: 0px;
  color: #3C3C3C;
  opacity: 1;
  width: 80%;
}

.blog-summary {
  width: 90%;
  font-size: 1em;
  font-weight: 300;
  font-family: poppins;
}

ul {
  padding-inline-start: unset;
}

.bimage {
  width: 90%;
}

.heading {
  text-align: left;
  font-size: 1.5em;
  font-weight: 800;
  font-family: poppins;
  letter-spacing: 0px;
  color: #0D0E50;
  opacity: 1;
}

.oth-blog {
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  margin: 2% auto 0%;
}

.blogContainer {
  width: 85%;
  margin: 0% auto;
}

.card {
  border-radius: 16px;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 575px) {


  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }

  .main-text {
    height: 0% !important;
    margin: 5% !important;
    background: none !important;
  }

  .txt b {
    color: #963FA7 !important;
  }

  .blog-summary-title {
    width: 90% !important;
    font-size: .8em !important;
    margin-left: 5% !important;
  }

  .blog-summary {
    width: 90% !important;
    margin-left: 5% !important;
  }

  .blog-image {
    width: 90% !important;
  }

  .oth-blog {
    font-size: 1.8em !important;
  }

  .up-footer-text {
    font-size: 1.6em !important;
    margin-top: 10% !important;
  }

  .logo-text {
    font-size: 1.2em !important;
    width: 80% !important;
  }

  .button {
    width: 50% !important;
    padding: 3% 5% !important;
    font-size: 1em !important;
    margin: 10% auto !important;
  }

  .read span:nth-of-type(1) {
    width: 30% !important;
  }
}
