.head {
  width: 100%;
  margin: 2% auto 0%;
  background: transparent url('../../assets/imgs/Mask Group 14.png') no-repeat padding-box;
  background-size: 100% auto;
  background-position: right;
  height: 20%;
}

.tool {
  width: 40%;
  margin: 4% 4% 2%;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0px;
  color: #1D1B1B;
  text-transform: capitalize;
}

.tool span {
  color: #8630AC;
  font-weight: 800;
}

.sub-tool {
  width: 40%;
  margin: 1% 10% 3% 4%;
  font-family: poppins;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0px;
  color: #2e2828;
  opacity: 1;
  line-height: 1.6;
}

.features {
  background-image: url("../../assets/imgs/Repeat Grid 20.png");
  background-repeat: no-repeat;
  background-position: 99% 2%;
}

.features-head {
  letter-spacing: 0px;
  color: #1D1B1B;
  text-transform: capitalize;
  opacity: 1;
  font-family: poppins;
  font-size: 2em;
  font-weight: 500;
  width: 90%;
  margin-left: 5%;
}

.sub-features-head {
  letter-spacing: 0px;
  color: #2E2828;
  text-transform: capitalize;
  opacity: 1;
  font-family: poppins;
  font-size: 1em;
  font-weight: 300;
  width: 85%;
  margin-left: 5%;
}
.container-div{
    background: #FAF5FB 0% 0% no-repeat;
opacity: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  text-align: center;

}

.card {
  border-radius: 16px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 250px;
  width: 18%;
  margin: 0 5% 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  line-height: 24px;
  padding: 2% 2%;

}

.card-text {
  font-size: 1.2em;
  font-family: poppins;
  font-weight: 800;
  letter-spacing: 0px;
  color: #1D1B1B;
  text-transform: capitalize;
  opacity: 1;

}

.card-sub-text {
  font-family: Poppins;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
}


.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.security span {

  letter-spacing: 0px;
  color: #963FA7;
  text-transform: capitalize;
  font-weight: 800;
}

.security {
  margin: 1% auto;
  text-align: center;
  letter-spacing: 0px;
  color: #1D1B1B;
  text-transform: capitalize;
  font-family: poppins;
  font-size: 1.8em;
  font-weight: 500;
}

.security-text {
  margin: 1% auto 5%;
  width: 75%;
  text-align: center;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
  font-family: poppins;
  font-size: 1em;
  font-weight: 300;
}

.up-footerd {
  color: #FFFFFF;
  text-align: center;
  opacity: 1;
  background: url('../../assets/imgs/Group 2028.png') no-repeat;
  background-size: 100% auto;
  background-position: right;
  width: 100%;
  height: 280px;
  margin: 5% 0% 3%;
}

.up-footer-textd {
  width: 70%;
  margin: 7% auto;
  letter-spacing: 0px;
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.5;
}
@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
  .head{
    background-size: auto !important;
    height: 300px !important;
    background-position: 100% 225% !important;
  }
  .tool{
    width: 100% !important;
    margin: 25% 4% 5% !important;
  }
  .sub-tool{
    width: 95% !important;
  }
  .card{
    width: 75% !important;
    margin: 3% 5%!important;
  }

  .card-sub-text{
    width: 90%;
    margin: 0 auto;
  }

  .bg-image img{
    margin-top: 5%;
  }
  .features-head{
    margin-left: 0% !important;
  }
  .mob-process{
    margin-left: 0% !important;
  }
  .sub-features-head{
    margin-left: 0% !important;
    width: 100% !important;
  }
  .security{
    width: 90% !important;
    text-align: left !important;
    margin-top: 10% !important;
    line-height: 1.2;
    font-size: 1.5em !important;
  }
  .security-text{
    width: 90% !important;
    text-align: left !important;
    font-size: 1em !important;
  }
  .up-footerd{
    background-size: 100% 100% !important;
  }
  .up-footer-textd{
    width: 90% !important;
    line-height: 1.2;
    margin: 10% auto!important;
  }

  ul{
    margin: 5%;
    padding: 0;
    line-height: 1.2;
  }
}