<div>
<mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile>
        <div class="login">
        <ul>
            <img src="../../assets/imgs/Group 622.png">
        <p class="welcome">Welcome to <span>Mobility SQR!</span></p>
        <p class="admin">Admin Login</p>
        <input class="user"><br>
        <input class="password"><br>
        
    </ul>
    <mat-grid-list cols="12">
        <mat-grid-tile colspan="2"><img src="../../assets/imgs/Group 915.png"></mat-grid-tile>
        <mat-grid-tile colspan="8">Remember</mat-grid-tile>
        <mat-grid-tile colspan="2">Forgot password?</mat-grid-tile>
    </mat-grid-list>
    <button class="button" routerLink="/admin-blog">Sign in</button>
</div>

    </mat-grid-tile>
    <mat-grid-tile>
        <img class="side-img" src="../../assets/imgs/Group 917.png">
    </mat-grid-tile>
</mat-grid-list>
</div>