.head-image {
  width: 100%;
  margin: 0% auto;
  background: transparent url('../../assets/imgs/Group 777.png') no-repeat;
  background-size: 100% auto;
  background-position: right;
  height: 20%;

}

.heading {
  width: 40%;
  margin: 6% 45% 3% 4%;
  line-height: 1.2em;
  font-size: 2.2em;
  font-weight: 300;
  letter-spacing: 0px;
  color: #1D1B1B;
}

.sub-heading {
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
  font-family: poppins;
  font-size: 1.1em;
  font-weight: 300;
  width: 35%;
  margin: 0% 45% 10% 4%;
}

.heading span {
  letter-spacing: 0px;
  color: #963FA7;
  font-weight: 800;
}

.title {
  width: 100%;
  margin-top: 2%;
}

.repeat-img {
  background-image: url("../../assets/imgs/Repeat Grid 20.png");
  background-repeat: no-repeat;
  background-position: 99% 99%;
}

.member-name {
  width: 80%;
  text-align: left;
  letter-spacing: 0px;
  color: #1D1B1B;
  opacity: 1;
  font-weight: 300;
  font-size: 1.2em;
}

.member-details {
  width: 85%;
  text-align: left;
  font-size: 1em;
  font-family: poppins;
  font-weight: 300;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
}

.member-image2 {
  margin-right: 16%;
}

.member-image,
  .member-image2 {
    width: 340px ;
    height: 340px ;
  }

.member-name2 {
  width: 80%;
  text-align: left;
  letter-spacing: 0px;
  color: #1D1B1B;
  opacity: 1;
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 3.5%;
}

.member-details2 {
  width: 90%;
  text-align: left;
  font-size: 1em;
  font-family: poppins;
  font-weight: 300;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
  margin-left: 3.5%;
}

.repeat {
  background-image: url("../../assets/imgs/Repeat Grid 20.png");
  background-repeat: no-repeat;
  background-position: 2% 50%;
  background-size: 100%;
}

.services-head {
  letter-spacing: 0px;
  color: #1D1B1B;
  opacity: 1;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 5%;
}

.side-image2 {
  background-image: url("../../assets/imgs/Mask Group 7.png");
  background-repeat: no-repeat;
  background-position: right;
}

.side-image {
  background-image: url("../../assets/imgs/Mask Group 7.png");
  background-repeat: no-repeat;

}

.map {
  margin: 5% 20%;
}

.ideas {
  text-align: center;
  letter-spacing: 0px;
  color: #1D1B1B;
  opacity: 1;
  font-size: 2em;
  font-weight: 300;
}

.sub-ideas {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
}

.services {
  text-align: center;
  letter-spacing: 0px;
  color: #2E2828;
  opacity: 1;
  font-family: poppins;
  font-size: 1em;
  background: transparent url('../../assets/imgs/path 12088.png') no-repeat;
  background-size: 100% 100%;
}

.card-blue {
  background-color: #9861C2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;

}

.card {
  border-radius: 16px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 250px;
  width: 12%;
  margin: 0 5% 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
  line-height: 24px;
  padding: 2% 2%;
}

.card-blue {
  background: #9861C2;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card img {
  margin: 3% 0;
}

.card-sub-text {
  font-size: .8em;
  line-height: 28px;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

// .up-footer {
//   color: #FFFFFF;
//   margin: 3% auto;
//   text-align: center;
//   opacity: 1;
//   background: url('../../assets/imgs/Group 639.png') no-repeat;
//   background-position: center;
//   width: 100%;
//   // height: 280px;
//   border-radius: 16px;
// }

// .up-footer-text {
//   font-size: 3em;
//   font-weight: 400;
//   letter-spacing: 0.4px;
//   color: #FFFFFF;
//   margin: 2% auto;
//   font-family: poppins;
// }

// .logo-text {
//   // font-family: 'Poppins';
//   font-size: 1em;
//   font-weight: 400;
//   width: 80%;
//   margin: auto;
// }

// .button {
//   margin: 2% auto;
//   letter-spacing: 0px;
//   color: #8630AC;
//   opacity: 1;
//   background: #FFFFFF 0% 0% no-repeat padding-box;
//   border: none;
//   padding: 1% 3%;
//   border-radius: 10px;
//   font-family: poppins;
//   font-weight: bold;
//   font-size: 1em;
//   transition: all .2s ease-in-out;
//   cursor: pointer;
// }

ul {
  padding-inline-start: unset;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px #00000059;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }

  .logoMob {
    width: 15% !important;
  }

  .head-image {
    background-size: 110% 40% !important;
    background-position: bottom !important;
    height: 450px !important;
    background-color: #FAF5FB;
  }

  .heading {
    width: 95% !important;
    margin: 25% auto 4% 4% !important;
    font-size: 1.5em !important;
    line-height: 1.2;
  }

  .sub-heading {
    font-size: 1em;
    font-weight: 300;
    width: 80% !important;
  }

  .ideas {
    width: 80% !important;
    line-height: 1.2em;
    margin: 0 10%;
    font-size: 1.6em !important;
}

  .card {
    width: 70% !important;
    height: 275px !important;
  }

  .services-head {
    width: 80% !important;
    text-align: center;
    font-size: 1.8em !important;
    margin-left: 5% !important;
  }

  .card-sub-text {
    font-size: 1.1em !important;
  }

  // .up-footer {
  //   height: 300px !important;
  //   border-radius: 0px !important;
  // }

  .up-footer-text {
    font-size: 1.6em !important;
    margin-top: 10% !important;
  }

  .logo-text {
    font-size: 1.2em !important;
    width: 80% !important;
  }

  .button {
    width: 50% !important;
    padding: 3% 5% !important;
    font-size: 1em !important;
    margin: 10% auto !important;
  }

  .member-details,
  .member-details2 {
    width: 90% !important;
    margin-left: 4% !important;
    font-size: 1.2em !important;
  }

  .member-name,
  .member-name2 {
    margin-left: 5% !important;
    width: 90% !important;
  }

  .member-image,
  .member-image2 {
    width: 80% !important;
    margin-right: 0% !important;
    margin-top: 15% !important;
  }

  .services {
    background-size: 100% 15% !important;
  }

  .services-head {
    font-size: 1.5em !important;
    margin-top: 10% !important;
    text-align: left !important;
  }

  .map {
    margin: 5%;
    width: 90%;
  }
}
